{% extends 'base.html.twig' %}
{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie {{ category.name }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} #{{ program.id }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { "slug": program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
<br>
<a href="{{ path('category_index') }}">
    Retour à la liste des categories
</a>

{% endblock %}