{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h2 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h2>
            <h4>Description de la saison :</h4>
            <p>{{ season.description }}</p>
            <h5>Liste des épisodes :</h5>
            <ul>
                {% for episode in episodes %}
                <li>
                <a href="{{ path('program_episode_show', {'slug': program.slug, 'season': season.id, 'episodeSlug': episode.slug })}}">
                Episode {{ episode.number }} : {{ episode.title }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}